<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidswitchviews"
    android:versionCode="1"
    android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8"/>

    <application
        android:label="@string/app_name"
        android:theme="@style/AppTheme">



        <activity
            android:name="com.example.android.rmituniversity.MainActivity"
            android:label="@string/app_name">

            <!-- Runs the second screen display intent -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>


        <!-- runs the google map intent -->
        <activity
            android:name="com.example.android.rmituniversity.DisplayActivity">

            <intent-filter>
                <action android:name="com.google.android.gms.actions.RESERVE_TAXI_RESERVATION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

    </application>
</manifest>
